<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTXT test task</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/resets.css">
</head>

<body>
    <section class="mainsec">
        <div class="container">
            <img class="mainsec__img" src="../img/2.png" alt="">
            <h1 class="mainsec__birth">Биржа контента eTXT празднует<br>свой 13-й день рождения!</h1>
            <p class="mainsec__about">Мы много работали, чтобы оказаться там, где сейчас: совершенствовали интерфейс и
                держали руку на пульсе в финансовых вопросах, решали конфликтные ситуации в обратной связи 24/7,
                выстраивали стратегии для дальнейшего развития. </p>

        </div>
    </section>
    <section class="numbers_sec">
        <div class="container">
            <h2 class="section__title">Биржа в цифрах сегодня</h2>
            <div class="numbers_sec__main">
                <div class="numbers_sec__results">
                    <img src="../img/obl.png" alt="">
                    <p class="numbers_sec__results_text">нас <span class="numbers_sec_big">3</span><span
                            class="numbers_sec_small">,3</span>
                        миллиона</p>
                </div>
            </div>
            <div class="numbers_sec__stat">
                <div class="numbers_sec__exec">
                    <p class="numbers_sec__exec_num">
                        <span class="numbers_sec__exec_big">2</span>,3
                    </p>
                    <div class="numbers_sec__right_col">
                        <img src="../img/writer.png" alt="">
                        <p class="numbers_sec__quantity">миллиона исполнителей</p>
                    </div>
                </div>
                <div class="numbers_sec__cust">
                    <p class="numbers_sec__cust_num">
                        800
                    </p>
                    <div class="nubers_sec__right_col">
                        <img src="../img/customer.png" alt="">
                        <p class="numbers_sec__quantity">тысяч заказчиков</p>
                    </div>
                </div>
            </div>
            <div class="numbers_sec__chart">
                <div class="numbers_sec__chart_line1"></div>
                <div class="numbers_sec__chart_line2"></div>
            </div>
        </div>
    </section>

    <section class="specifics">
        <div class="container">
            <div class="specifics__month">
                <div class="img_wrap">
                    <img src="../img/note.png" alt="">
                </div>
                <h3 class="specifics__title">за месяц</h3>
                <div class="specifics__month_numbers">
                    <div class="specifics__month_item">
                        <p class="specifics__month_itemtitle">88 к</p>
                        <p class="specifics__month_itemtext">заказов выполняется,
                            35% из которых —
                            индивидуальные</p>
                    </div>
                    <div class="specifics__month_item">
                        <p class="specifics__month_itemtitle">50 к</p>
                        <p class="specifics__month_itemtext">готовых статей
                            и уникальных фото
                            продается ежемесячно</p>
                    </div>
                    <div class="specifics__month_item">
                        <p class="specifics__month_itemtitle">10 к</p>
                        <p class="specifics__month_itemtext">заданий ежемесячно
                            выполняется в новом
                            SMM-модуле</p>
                    </div>
                </div>
            </div>
            <div class="specifics__year">
                <div class="img_wrap">
                    <img src="../img/20–21.png" alt="">
                </div>
                <div class="specifics__title">за год мы</div>
                <div class="specifics__grid">
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Ответили на <br> <span>111913</span>
                        </p>
                        <p class="specifics__grid_text">заявок в
                            Обратной связи
                            от вас</p>
                    </div>
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Проверили <br> <span>7811</span>
                        </p>
                        <p class="specifics__grid_text">
                            тестовых работ
                            на повышение
                            квалификации
                        </p>
                    </div>
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Выполнили <br> <span>1500</span>
                        </p>
                        <p class="specifics__grid_text">
                            заданий на
                            корректуру и
                            редактуру текста
                        </p>
                    </div>
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Заключили договор с <br> <span>1605</span>
                        </p>
                        <p class="specifics__grid_text">
                            самозанятыми исполнителями
                        </p>
                    </div>
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Запустили <br> <span>2</span>
                        </p>
                        <p class="specifics__grid_text">
                            новые услуги
                        </p>
                    </div>
                    <div class="specifics__grid_item">
                        <p class="specifics__grid_title">
                            Опубликовали <br> <span>62</span>
                        </p>
                        <p class="specifics__grid_text">
                            статьи в блоге eTXT
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe">
        <div class="container">
            <p class="subscribe__text">Подписаться на рассылку можно при <a href="#"
                    class="subscribe__link">регистрации</a> аккаунта или в личном кабинете
                пользователя.</p>
        </div>
    </section>

    <section class="certificate">
        <div class="container">
            <h2 class="section__title">Аттестация копирайтеров</h2>
            <p class="certificate__title">17 категорий для аттестации копирайтеров</p>
            <div class="certificate__stat">
                <div class="certificate__item">
                    <div class="img_wrap">
                        <p class="certificate__item_title">588</p>
                        <img src="../img/shtamp.png" alt="">
                    </div>
                    <p class="certificate__item_text">исполнителей прошли аттестацию</p>
                </div>
                <div class="certificate__item">

                    <div class="img_wrap">
                        <p class="certificate__item_title">9120</p>
                        <div class="img_wrap_hat">
                            <img src="../img/hat.png" alt="">
                        </div>
                    </div>
                    <p class="certificate__item_text">исполнителей подтвердили диплом об образовании</p>
                </div>
                <div class="certificate__item">
                    <p class="certificate__item_title">8200</p>
                    <p class="certificate__item_text">заказов выполнено для аттестованных авторов</p>
                </div>
                <div class="certificate__item">
                    <p class="certificate__item_title">180 Р <br> <span>за 1000 символов</span>
                    </p>
                    <p class="certificate__item_text">средняя цена заказа для аттестованных</p>
                </div>
            </div>
        </div>
    </section>

    <section class="wishes">
        <div class="container">
            <h2 class="section__title">Карта желаний eTXT</h2>
            <div class="wishes__list">
                <div class="wishes__item">
                    <div class="img_wrap">
                        <img src="../img/photo.png" alt="">
                    </div>
                    <p class="wishes__item_title">Фото / видеомодуль</p>
                    <p class="wishes__item_text">услуги создания фото
                        и видео на заказ, обработка</p>
                </div>
                <div class="wishes__item">
                    <div class="img_wrap">
                        <img src="../img/pen.png" alt="">
                    </div>
                    <p class="wishes__item_title">Конкурсы для копирайтеров</p>
                    <p class="wishes__item_text">скидки на курсы от партнеров,
                        повышение квалификации</p>
                </div>
                <div class="wishes__item">
                    <div class="img_wrap">
                        <img src="../img/magnet.png" alt="">
                    </div>
                    <p class="wishes__item_title">Система
                        outreach-продвижения</p>
                    <p class="wishes__item_text">на основе системы
                        размещения статей еТХТ</p>
                </div>
            </div>
        </div>
    </section>

    <section class="appeal">
        <div class="container">
            <div class="appeal__main">
                <div class="appeal__stars">
                    <img src="../img/star.png" alt="">
                    <img src="../img/star.png" alt="">
                    <img src="../img/star.png" alt="">
                    <img src="../img/star.png" alt="">
                </div>
                <p class="appeal__content">Мы прислушиваемся к мнению пользователей и конструктивной критике, берем на
                    вооружение хорошие идеи. Вносим коррективы с учетом ваших пожеланий и собственных возможностей. </p>
                <p class="appeal__content">Позади — огромный путь, впереди — новые цели. </p>
                <p class="appeal__content">Благодарим вас, уважаемые пользователи Биржи eTXT, за интересные задания и
                    выполненные заказы, регулярное пополнение магазина статей/фотографий, внимание к ресурсу, активность
                    в
                    соцсетях и комментариях в блоге.</p>
                <p class="appeal__content">С любовью, команда eTXT.</p>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="container">
            <hr>
            <nav class="feedback__nav">
                <ul class="feedback__nav_list">
                    <li class="feedback__nav_item">Контент-маркетинг</li>
                    <li class="feedback__nav_item">Копирайтинг</li>
                    <li class="feedback__nav_item">Рерайтинг</li>
                    <li class="feedback__nav_item">Дизайн</li>
                    <li class="feedback__nav_item">Обучение</li>
                    <li class="feedback__nav_item">SMM</li>
                </ul>
            </nav>
            <form action="" class="feedback__form">
                <div class="feedback__estim">
                    <p class="feedback__estim_voices">Оцените статью (48 голосов)</p>
                    <div class="feedback__estim_rate">
                        <label for="1"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                <path fill-rule="evenodd" fill="rgb(235, 242, 246)"
                                    d="M21.522,9.968 C21.955,9.527 22.108,8.881 21.921,8.280 C21.734,7.679 21.246,7.250 20.647,7.159 L15.322,6.351 C15.095,6.317 14.899,6.168 14.798,5.953 L12.417,0.916 C12.150,0.350 11.608,-0.002 11.003,-0.002 C10.399,-0.002 9.856,0.350 9.589,0.916 L7.208,5.954 C7.106,6.169 6.910,6.317 6.683,6.352 L1.358,7.160 C0.760,7.250 0.272,7.680 0.085,8.281 C-0.102,8.882 0.051,9.528 0.484,9.969 L4.336,13.890 C4.501,14.057 4.576,14.298 4.537,14.533 L3.628,20.071 C3.548,20.558 3.670,21.032 3.972,21.406 C4.442,21.988 5.261,22.165 5.917,21.806 L10.679,19.192 C10.878,19.083 11.128,19.084 11.327,19.192 L16.090,21.806 C16.321,21.933 16.568,21.997 16.823,21.997 C17.289,21.997 17.730,21.782 18.034,21.406 C18.336,21.032 18.458,20.557 18.377,20.071 L17.468,14.533 C17.429,14.297 17.505,14.057 17.669,13.890 L21.522,9.968 Z" />
                            </svg></label>
                        <input type="radio" name="rating" id="1" />
                        <label for="2"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                <path fill-rule="evenodd" fill="rgb(235, 242, 246)"
                                    d="M21.522,9.968 C21.955,9.527 22.108,8.881 21.921,8.280 C21.734,7.679 21.246,7.250 20.647,7.159 L15.322,6.351 C15.095,6.317 14.899,6.168 14.798,5.953 L12.417,0.916 C12.150,0.350 11.608,-0.002 11.003,-0.002 C10.399,-0.002 9.856,0.350 9.589,0.916 L7.208,5.954 C7.106,6.169 6.910,6.317 6.683,6.352 L1.358,7.160 C0.760,7.250 0.272,7.680 0.085,8.281 C-0.102,8.882 0.051,9.528 0.484,9.969 L4.336,13.890 C4.501,14.057 4.576,14.298 4.537,14.533 L3.628,20.071 C3.548,20.558 3.670,21.032 3.972,21.406 C4.442,21.988 5.261,22.165 5.917,21.806 L10.679,19.192 C10.878,19.083 11.128,19.084 11.327,19.192 L16.090,21.806 C16.321,21.933 16.568,21.997 16.823,21.997 C17.289,21.997 17.730,21.782 18.034,21.406 C18.336,21.032 18.458,20.557 18.377,20.071 L17.468,14.533 C17.429,14.297 17.505,14.057 17.669,13.890 L21.522,9.968 Z" />
                            </svg></label>
                        <input type="radio" name="rating" id="2" />
                        <label for="3"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                <path fill-rule="evenodd" fill="rgb(235, 242, 246)"
                                    d="M21.522,9.968 C21.955,9.527 22.108,8.881 21.921,8.280 C21.734,7.679 21.246,7.250 20.647,7.159 L15.322,6.351 C15.095,6.317 14.899,6.168 14.798,5.953 L12.417,0.916 C12.150,0.350 11.608,-0.002 11.003,-0.002 C10.399,-0.002 9.856,0.350 9.589,0.916 L7.208,5.954 C7.106,6.169 6.910,6.317 6.683,6.352 L1.358,7.160 C0.760,7.250 0.272,7.680 0.085,8.281 C-0.102,8.882 0.051,9.528 0.484,9.969 L4.336,13.890 C4.501,14.057 4.576,14.298 4.537,14.533 L3.628,20.071 C3.548,20.558 3.670,21.032 3.972,21.406 C4.442,21.988 5.261,22.165 5.917,21.806 L10.679,19.192 C10.878,19.083 11.128,19.084 11.327,19.192 L16.090,21.806 C16.321,21.933 16.568,21.997 16.823,21.997 C17.289,21.997 17.730,21.782 18.034,21.406 C18.336,21.032 18.458,20.557 18.377,20.071 L17.468,14.533 C17.429,14.297 17.505,14.057 17.669,13.890 L21.522,9.968 Z" />
                            </svg></label>
                        <input type="radio" name="rating" id="3" />
                        <label for="4"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                <path fill-rule="evenodd" fill="rgb(235, 242, 246)"
                                    d="M21.522,9.968 C21.955,9.527 22.108,8.881 21.921,8.280 C21.734,7.679 21.246,7.250 20.647,7.159 L15.322,6.351 C15.095,6.317 14.899,6.168 14.798,5.953 L12.417,0.916 C12.150,0.350 11.608,-0.002 11.003,-0.002 C10.399,-0.002 9.856,0.350 9.589,0.916 L7.208,5.954 C7.106,6.169 6.910,6.317 6.683,6.352 L1.358,7.160 C0.760,7.250 0.272,7.680 0.085,8.281 C-0.102,8.882 0.051,9.528 0.484,9.969 L4.336,13.890 C4.501,14.057 4.576,14.298 4.537,14.533 L3.628,20.071 C3.548,20.558 3.670,21.032 3.972,21.406 C4.442,21.988 5.261,22.165 5.917,21.806 L10.679,19.192 C10.878,19.083 11.128,19.084 11.327,19.192 L16.090,21.806 C16.321,21.933 16.568,21.997 16.823,21.997 C17.289,21.997 17.730,21.782 18.034,21.406 C18.336,21.032 18.458,20.557 18.377,20.071 L17.468,14.533 C17.429,14.297 17.505,14.057 17.669,13.890 L21.522,9.968 Z" />
                            </svg></label>
                        <input type="radio" name="rating" id="4" />
                        <label for="5"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                <path fill-rule="evenodd" fill="rgb(235, 242, 246)"
                                    d="M21.522,9.968 C21.955,9.527 22.108,8.881 21.921,8.280 C21.734,7.679 21.246,7.250 20.647,7.159 L15.322,6.351 C15.095,6.317 14.899,6.168 14.798,5.953 L12.417,0.916 C12.150,0.350 11.608,-0.002 11.003,-0.002 C10.399,-0.002 9.856,0.350 9.589,0.916 L7.208,5.954 C7.106,6.169 6.910,6.317 6.683,6.352 L1.358,7.160 C0.760,7.250 0.272,7.680 0.085,8.281 C-0.102,8.882 0.051,9.528 0.484,9.969 L4.336,13.890 C4.501,14.057 4.576,14.298 4.537,14.533 L3.628,20.071 C3.548,20.558 3.670,21.032 3.972,21.406 C4.442,21.988 5.261,22.165 5.917,21.806 L10.679,19.192 C10.878,19.083 11.128,19.084 11.327,19.192 L16.090,21.806 C16.321,21.933 16.568,21.997 16.823,21.997 C17.289,21.997 17.730,21.782 18.034,21.406 C18.336,21.032 18.458,20.557 18.377,20.071 L17.468,14.533 C17.429,14.297 17.505,14.057 17.669,13.890 L21.522,9.968 Z" />
                            </svg></label>
                        <input type="radio" name="rating" id="5" />
                    </div>
                </div>
                <p class="feedback__comm_count">0 комментариев</p>
                <hr>
                <img src="../img/comment.png" alt="" class="feedback__comm_icon">
                <div class="feedback__comment">
                    <img src="../img/ell.png" alt="">
                    <input type="text" class="feedback__comment_input" placeholder="Присоединиться к обсуждению...">
                    <button type="submit" class="feedback__comment_btn">Отправить
                        <img src="../img/plane.png" alt="">
                    </button>
                </div>
            </form>
        </div>
    </section>
</body>

</html>